<h1 class="text-4xl my-8 text-gray-800 font-bold">Restaurants</h1>

<table class="table-auto bg-white w-full">
  <thead>
    <tr class="text-left bg-gray-800 text-white">
      <th class="px-4 py-2">
        <%= link_to "Name", "#", class: filter_css(:name), data: { reflex: "click->RestaurantsReflex#filter", room: session.id, filter: "name" } %>
      </th>
      <th class="px-4 py-2">
        <%= link_to "Stars", "#", class: filter_css(:stars), data: { reflex: "click->RestaurantsReflex#filter", room: session.id, filter: "stars" } %>
      </th>
      <th class="px-4 py-2">
        <%= link_to "Price", "#", class: filter_css(:price), data: { reflex: "click->RestaurantsReflex#filter", room: session.id, filter: "price" } %>
      </th>
      <th class="px-4 py-2">
        <%= link_to "Category", "#", class: filter_css(:category), data: { reflex: "click->RestaurantsReflex#filter", room: session.id, filter: "category" } %>
      </th>
    </tr>
  </thead>

  <tbody class="text-gray-900">
    <% @filtered_restaurants.each do |restaurant| %>
      <tr>
        <td class="border px-4 py-2"><%= restaurant.name %></td>
        <td class="border px-4 py-2"><%= stars_to_symbol(restaurant.stars) %></td>
        <td class="border px-4 py-2"><%= price_to_dollar_signs(restaurant.price) %></td>
        <td class="border px-4 py-2"><%= restaurant.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
